<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<!--这部分是开发人员编写的，不同的数据库驱动连接字符串不同-->
	<connectionStrings>
		<add name="OrderDataBase" connectionString="server=localhost;uid=root;password=lpWZ38sql;database=Orderdb" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<!--下面的部分是安装Nuget的 EntityFramework和MySql.Data.EntityFramework之后自动生成的-->
	
</configuration>